
Nanaykuna-terraform-2023/Dev/.terraform*
Nanaykuna-terraform-2023/Dev/provider.tf
Nanaykuna-terraform-2023/Dev/modules/app-service-netcore/provider.tf
Nanaykuna-terraform-2023/Dev/modules/app-service-node/provider.tf
Nanaykuna-terraform-2023/Dev/modules/function-netcore/provider.tf
Nanaykuna-terraform-2023/Dev/modules/service-plan-function/provider.tf
Nanaykuna-terraform-2023/Dev/modules/storage-accounts/provider.tf
Nanaykuna-terraform-2023/Dev/modules/function-netcore/provider.tf
Nanaykuna-terraform-2023/Sta/.terraform*
Nanaykuna-terraform-2023/Sta/provider.tf
Nanaykuna-terraform-2023/Sta/modules/app-service-netcore/provider.tf
Nanaykuna-terraform-2023/Sta/modules/app-service-node/provider.tf
Nanaykuna-terraform-2023/Sta/modules/function-netcore/provider.tf
Nanaykuna-terraform-2023/Sta/modules/service-plan-function/provider.tf
Nanaykuna-terraform-2023/Sta/modules/storage-accounts/provider.tf
Nanaykuna-terraform-2023/Prd/.terraform*
Nanaykuna-terraform-2023/Prd/provider.tf
Nanaykuna-terraform-2023/Prd/modules/app-service-netcore/provider.tf
Nanaykuna-terraform-2023/Prd/modules/app-service-node/provider.tf
Nanaykuna-terraform-2023/Prd/modules/function-netcore/provider.tf
Nanaykuna-terraform-2023/Prd/modules/service-plan-function/provider.tf
Nanaykuna-terraform-2023/Prd/modules/storage-accounts/provider.tf
*tfvars.json
